  name: Python CI

  on:
    push:
      branches: [main]
    pull_requst:
      branches: [main]

  jobs:
    test:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
        
        - name: Set up Python
          uses: actions/setup-python@v5
          with:
            python-version: '3.11'

        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
            pip install  pytest httpx fastapi 

        - name: Run pytest
          env:
            PYTHONPATH: .
          run: |
            pytest --maxfail=3 --disable-warnings -v